body {
    text-align: center;
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to bottom right, #ff7f00, #0080ff); */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;

    background-color: var(--bg);
    transition: background-color 0.2s cubic-bezier(1, 1, 1, 1);
    transition-delay: 0s;
}

/* TODO: pulisci tag css */

:root {
    --bg: #555;
    --g1: blue;
    --g2: red;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.stick {
    width: 15px;
    height: 100px;
    background-color: #333;
    margin: 0 30px;
    border-radius: 8px;
    position: relative;
}

.stick.g1 {
    background-color: var(--g1);
}

.stick.g2 {
    background-color: var(--g2);
}

#board {
    position: relative;
    margin: 20px auto;
    /*width: 50vw;
    width: 500px;
    height: 500px; */
}

#camvas {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    border: 3px dashed #555;
}

button {
    background-color: #333;
    padding: 10px 15px;
    border: none;
    color: #ccc;
    cursor: progress; /* ;) */
}

button:hover {
    background-color: #555;
}
